.profile {
    position: relative;
}

.header__background {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
    background-image: url('./headerBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;

}

.user__avatar {
    position: absolute;
    top: 25%;
    left: 3%;

}

.user__avatar img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    outline: 3px solid #4c8474;
}

.user__info {
    width: 100%;
    height: 50%;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

.user__about {
    position: absolute;
    left: 33%;
    display: flex;
    flex-direction: column;
}

.user__name {
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;

}

.from {
    padding-top: 10px;
    letter-spacing: 1.5px;
}

.social {
    position: absolute;
    right: 15px;
    bottom: 5px;
}
@media (max-width: 850px) {
    .user__avatar img {
        width: 150px;
        height: 150px;
    }
}