.navigation {
    grid-area: nav;
    max-height: 60vh;
}

.list {
    position: fixed;
    padding: 50px 0;
    padding-inline-start: 30px;
    list-style: none;
}

.list:hover {
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 15px;
    background-color: rgba(196, 193, 193, 0.189);
    background-size: cover;
}

@media (max-width: 850px) {
    .navigation {
        display: none;
    }
}