.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    grid-area: header;
    background-color: #302928;
    z-index: 25;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
    margin: 0;
    padding: 0;
}

.logo__img {
    width: 80px;
    height: 80px;
}

.avatar {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 5%;
}

.avatar__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
}

.avatar__img:hover {
    width: 65px;
    height: 65px;
    border: 2px solid #4c8474;
}

.login {
    color: white;
}

.menu__btn {
    display: none;
}

@media (max-width: 800px) {
    .container {
        padding: 0 20px 0 20px;
    }

    .avatar {
        display: none;
    }

    .menu__btn {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        z-index: 2;
    }

    .menu__btn span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        transform: translate(-50%, -50%);
        background-color: #f1f0f0;
        transition: all 0.5s;
    }

    .menu__btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu__btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    /* .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
      background: #FFEFBA;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .menu.active {
        transform: translateX();
    }
    .menu li {
        list-style-type: none;
    } */
}