.header {
    grid-area: head;
    background-color: rgb(254, 255, 254);
    border-radius: 8px;
  }
  
  .heading {
    margin: 0;
    padding-left: 20px;
  }
  .logo__img {
    width: 100px;
  cursor: pointer; 
  }


  