.posts {
    min-height: 400px;
    background-color: #ffffff;
}

.posts:first-child {
    border-radius: 15px;
    overflow: hidden;
}

.posts:last-child {
    border-radius: 15px;
    overflow: hidden;
}

