.app__wrapper {
  background-image: url('./background.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2.5fr 10fr;
  grid-template-areas:
    'header header'
    'nav main';
  gap: 15px;
}