.nav {
    grid-area: navigation;
    background-color: rgb(254, 255, 254);
    border-radius: 8px;
  }
  .list {
    padding-top: 50px;
    list-style: none;
  }
  
  .list__item {
    font-size: 20px;
    font-weight: bold;
    color: #8870ff;
  }
  
  .list__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .list__item:last-child {
    padding-top: 100px;
  }
  
  .item__link {
    cursor: pointer;
  }
  
  .item__link:hover {
   opacity: 0.7;
  }